In [18]:
#question 1

my_list=[1,2,3,5,8]
debut=0
list_lenght=5
fin=list_lenght-1

def binary(my_list,debut,fin,i):
    
    if fin >= debut:
        mil= int(debut + fin )//2
        if my_list[mil] == i :
            print(True)
        elif my_list[mil] > i :
          return binary(my_list,debut,mil-1,i)
        else:
          return binary(my_list,mil+1,fin,i)
    else:
      print(False)


for i in range(5,7):
     binary(my_list,debut,fin,i)


binary(my_list,debut,fin,i)

True
False
False

In [20]:
#question 2

def powerful(var1,var2) :
    c = var1**var2
    return c

powerful(3,4)

81

In [22]:
#question 3
def bubble(list1):
    for i in range(len(list1)-1,0,-1):
        for a in range(i):
          if list1[a]>list1[a+1]:
              init=list1[a]
              list1[a]=list1[a+1]
              list1[a+1]=init
    return list1

list1=[29,13,22,37,52,49,46,71,56]
bubble(list1)

[13, 22, 29, 37, 46, 49, 52, 56, 71]

In [27]:
#question 4

def partition(tab,start,end):
    pivot=tab[start]
    low=start+1
    hight=end
    
    while True :
      while low <= hight and tab[start] >= pivot:
          hight = hight -1

      while low <= hight and tab[low] <= pivot :
          low = low+1
          
      if low <= hight:
            tab[low] , tab[hight] = tab[hight],tab[low]
      else :
        break 

    tab[start], tab[hight] = tab[hight] , tab[start]
    return hight

def quick_sort(tab,start,end):
    if start >= end :
        return 
    s = partition(tab,start,end)
    quick_sort(tab,start,s-1)
    quick_sort(tab,s+1,end)

tab=[29,13,22,37,52,49,46,71,56]
quick_sort(tab,0,len(tab)-1)
print(tab)

[29, 13, 22, 37, 52, 49, 46, 71, 56]

In [28]:
#question 5 

def tri_f(my_list2):
    if len(my_list2) > 1 :
        middle=len(my_list2)//2
        left=my_list2[:middle]
        right=my_list2[middle:]

        tri_f(left)
        tri_f(right)

        i=0
        j=0
        k=0

        while i < len(left) and j < len(right):
            if left[i] < right[j] :
              my_list2[k] = left[i]
              i=i+1
            else :
              my_list2[k] = right[j]
              j +=1
        k+=1

        while i < len(left) :
            my_list2[k] = left[i]
            i += 1
            k += 1

        while j < len(right) :
            my_list2[k]= right[j]
            j += 1
            k += 1

my_list2=[29,13,22,37,52,49,46,71,56]
tri_f(my_list2)
print(my_list2)

[37, 52, 56, 71, 71, 56, 46, 71, 56]